<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        #chronoExample {
            padding: 30px;
            width: 500px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center panel-body" id="chronoExample">
                    <h6>Facebook time: </h6>
                    <div class="values">00:00:00</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../libs/jquery.js"></script>
<script src="../../dist/popup.js"></script>
</html>